name: pemesanan_kopiku
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.1
  uuid: ^4.5.2
  cached_network_image: ^3.3.0
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  # Untuk mendaftarkan folder gambar, tambahkan bagian assets di bawah ini
  # Pastikan indentasi (jarak ke kiri) sudah benar
  assets:
    - assets/images/
